<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/head') %>
	</head>
	<body>
		<section class="auth">
			<div class="img-group">
				<img
					src="/media/images/bg_shadow_grey.png"
					alt="Grey background shadow"
					class="bg-shadow-grey"
				/>
				<img
					src="/media/images/bg_shadow_purple2.png"
					alt="Purple background shadow"
					class="bg-shadow-purple"
				/>
				<img
					src="/media/images/bg_shadow_darkgrey.png"
					alt="Dark grey background shadow"
					class="bg-shadow-darkgrey"
				/>
				<img
					src="/media/images/man_sitting.png"
					alt="Sitting man"
					class="man-sitting"
				/>
				<img
					src="/media/images/goodhabit_logo.png"
					alt="GoodHabit logo"
					class="logo"
				/>
				<img
					src="/media/images/particle2.png"
					alt="Particle"
					class="particle1"
				/>
				<img
					src="/media/images/particle2.png"
					alt="Particle"
					class="particle2"
				/>
				<img
					src="/media/images/particle1.png"
					alt="Particle"
					class="particle3"
				/>
			</div>
		</section>
	</body>
</html>
