// Import Variables
@import './variables.scss';

section.auth {
	position: relative;

	.img-group {
		width: 300px;
		height: 300px;
		margin: 50px auto 0 auto;

		img {
			display: none;
			position: absolute;

			&:nth-child(1) {
				display: block !important;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:nth-child(2) {
				display: block !important;
				top: 40%;
				left: 17%;
				transform: translate(-17%, -40%);
			}
		}

		// .bg-shadow-grey {
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }

		// .bg-shadow-purple {
		// 	top: 9%;
		// 	left: 18%;
		// }

		// .bg-shadow-darkgrey {
		// 	top: 20%;
		// 	right: 28%;
		// }

		// .man-sitting {
		// 	width: 115px;
		// 	top: 13%;
		// 	left: 33%;
		// }

		// .logo {
		// 	width: 20px;
		// 	top: 8%;
		// 	right: 18%;
		// }

		// .particle1 {
		// 	top: 11%;
		// 	left: 22%;
		// }

		// .particle2 {
		// 	top: 27%;
		// 	left: 14%;
		// }

		// .particle3 {
		// 	top: 35%;
		// 	right: 37%;
		// }
	}
}
