// Import Variables
@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $background-color;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $title-color;
}

.btn {
	display: block;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border-radius: 8px;
	border: 1px solid $white;
	background-color: transparent;
	color: $white;
	font-weight: 700;
	text-decoration: none;
	font-size: 14px;
}

.btn.btn-primary {
	background-color: $primary-color;
	border: 1px solid $primary-color;
}

// Import Pages
@import './start.scss';
@import './auth.scss';
