<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<section class="start">
			<div class="start-card">
				<div class="logo">
					<img
						src="/media/images/goodhabit_logo.png"
						alt="GoodHabit logo"
					/>
					<h1>Good<span class="highlight">Habit</span></h1>
				</div>

				<img
					src="/media/images/bg_shadow_purple.png"
					alt="Purple background shadow"
					class="bg-shadow-purple"
				/>
				<img
					src="/media/images/woman_walking.png"
					alt="Walking woman"
					class="woman-walking"
				/>
				<img src="/media/images/leaf_1.png" alt="Leaf" class="leaf1" />
				<img
					src="/media/images/plant_1.png"
					alt="Plant"
					class="plant1"
				/>
				<img
					src="/media/images/leaves.png"
					alt="Leaves"
					class="leaves"
				/>
				<img src="/media/images/leaf_2.png" alt="Leaf" class="leaf2" />
				<img
					src="/media/images/plant_2.png"
					alt="Plant"
					class="plant2"
				/>
			</div>

			<h4>Best way to improve Your Productivity!</h4>

			<a href="/signup" class="btn btn-primary">Sign Up</a>
			<a href="/signin" class="btn">Sign In</a>
		</section>
	</body>
</html>
